:root {
    --color-black :#000;
    --color-brown : #4a2c2a;
    --color-white : #fff ;
    --color-primary : #0073ff ;
    --color-blue: #66a2eb;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial Narrow Bold';
    font-size: 1rem;
}


nav {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-img img {
    height: 50px;
   margin-left: 20px;
}

.logo-img p {
    color: var(--color-white);
    padding: 20px;
    font-family: "Railway";
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-size: 1.25rem;
}

.nav-main ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

nav ul li {
    margin: 0 50px ;
}

ul li a {
    color: var(--color-white);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--color-primary);
    transition: all 0.3s;
}


 /* ----------------dropdown------------------*/

 .dropdown1 , .dropdown2,  .dropdown3 ,  .dropdown4 {
    display: none;
 }

 .nav-men:hover .dropdown1, .nav-foot:hover .dropdown2, .nav-acc:hover .dropdown3, .nav-clear:hover .dropdown4 {
    position:absolute;
    display: block;
    width: 250px;
    background-color: #c2c2c2;
}

.dropdown1 ul, .dropdown2 ul ,.dropdown3 ul, .dropdown4 ul {
    display: block;
    margin: 10px;
}

.dropdown1 ul li, .dropdown2 ul li, .dropdown3 ul li, .dropdown4 ul li  {
    padding: 8px 0;

}

.dropdown1 ul li a, .dropdown2 ul li a, .dropdown3 ul li a, .dropdown4 ul li a{
    font-size: 0.9rem;
    color: var(--color-black);
    width: 70%;
    padding: 5px;
}


.dropdown1 ul li a:hover, .dropdown2 ul li a:hover, .dropdown3 ul li a:hover, .dropdown4 ul li a:hover {
    color: var(--color-white);
}


/*-----------------navbar end --------------------------------*/

.top-sec {
    background-color: rgb(231, 233, 234);
    height: 20%;
    width: 100%;
}

.top-sec  {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.top-sec-box1  {
    width: 100%;
}
.top-sec-box1 p {
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 0;
}

.top-sec-box1 p span {
    font-size: 2.3rem;
}

.top-sec-box1 p strong {
    font-size: 2rem;
}

.top-sec-box1 button {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.89);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.top-sec-box2  {
    width: 60%;
}

.top-sec-box2 img {
    width: 100%;
}

#sale  {
    font-size: 0.7rem;
}

.top-sec-box1 button:hover {
    background-color: #4e4d4daf;
    color: var(--color-black);
    transition: all 0.3s;
    cursor: pointer;
}



/*--------------------responsiblity-----------------------*/

@media screen and (max-width: 1020px) {

    /*----------navbar------------*/
    nav {
        width: 140%;
        height: 110px;
    }
    .nav-main ul {
        margin-right: 20px;
    }

    nav ul li {
        margin: 0 25px ;
    }
    nav ul li a{
    font-size: 1.2rem;
    }

    /*------------------sectop---------------*/

    .top-sec {
        width: 140%;
    }


}

@media screen and (max-width: 620px) {
    nav {
        width: 160%;
        height: 130px;
    }

    .nav-main ul {
        margin-right: 10px;
    }

    nav ul li {
        margin: 0 10px ;
    }

     /*------------------sectop---------------*/

     .top-sec {
        width: 160%;
    }
    
}

@media screen and (max-width: 500px) {
    nav {
        width: 200%;
        height: 150px;
    }

    .nav-main ul {
        margin-right: 5px;
    }

    nav ul li {
        margin: 0 5px ;
    }

    /*------------------sectop---------------*/

    .top-sec {
        width: 200%;
    }
    
}


@media screen and (max-width: 340px) {
    nav {
        width: 280%;
        height: 150px;
    }

    .nav-main ul {
        margin-right: 5px;
    }

    nav ul li {
        margin: 0 5px ;
    }

    /*------------------sectop---------------*/

    .top-sec {
        width: 280%;
    }
    
}
